.input-container {
  margin-bottom: 10px;
}

input[type="text"] {
  border: 2px solid;
}

input[type="text"]:focus {
  outline: none;
  border-color: green;
}

input[type="text"].error {
  border-color: red;
}

#output {
  margin-top: 10px;
}

.output-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.output-item span {
  margin-right: 5px;
}

.clear-button {
  cursor: pointer;
}
